.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

/* Верстаем заголовок */
.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 34px;
  left: 64px;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  text-align: left;
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  text-align: left;
  width: 388px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  position:absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
}

/* Верстаем второй блок */
.description {
  padding: 100px 0px 0px 0px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: left;
  margin: 0;
  padding: 0px 0px 30px 0px;
}

.two-columns__paragraph:last-child {
  padding: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Верстаем третий блок */
.digits {
  padding: 90px 0px 90px 0px;
}

.section-title {
  width: 60%;
  margin: 0px auto;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0px auto;
  padding: 0;
}

.table__cell {
  list-style: none;
  width: 250px;
  margin: 0;
  padding: 60px 0px 0px 0px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  text-align: left;
}

.table__text {
  margin: 0;
  padding: 20px 0px 0px 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
}

/* Верстаем четвертый блок */
.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feynman__title {
  width: 648px;
  margin: 0px auto;
  padding: 100px 0px 0px 0px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  width: 648px;
  margin: 0 auto;
  padding: 70px 0px 0px 0px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

/* Верстаем пятый блок */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  z-index: -1;
  overflow: hidden;
  margin: 0;
  padding: 90px 0px 90px 0px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding: 80px 0px 0px 0px;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  right: -210px;
  padding: 0;
  margin: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/* Верстаем шестой блок */
.footer {
  display: flex;
  box-sizing: border-box;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  padding: 60px 0px 40px 0px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 18px 0px 18px 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-align: left;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0px 16px 0px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
}

.footer__social-icon {
  margin: 0px 10px 0px 0px;
  padding: 0;
  width: 16px;
  height: 16px;
}
