.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 3s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
